*{
    margin: 0;
    padding: 0;
}
.gameWindow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.menu{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    /* This transition happens when the collapse is removed */
    transition: all 300ms ease-in-out;
}
.collapse {
    height: 0;
    /* This transition happens when the collapse class is added */
    transition: all 300ms ease-in-out;
}
.btn {
    width: auto;
    height: 20px;
    margin-left: -5px;
}